<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (production) { %>
      <link rel="stylesheet" href="<%= app_css %>">
    <% } %>
    <title>Black Jack 2</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      (() => {
        const server_props = JSON.parse(JSON.stringify(<%-JSON.stringify(props)%>));

        window.server_props = server_props;
      })();
    </script>
    <% if (production) { %>
      <script type="module" src="<%= app_js %>"></script>
    <% } else { %>
      <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/app/index.tsx"></script>
    <% } %>
  </body>
</html>
